<!doctype html>
<html lang="en">
  <body>
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <p class="lead text-muted">Monitoring and Analysing Risks.</p>
        </div>
      </section>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" 
                  aria-label="Break Down Structure" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <rect width="100%" height="225%" fill="#868e96"></rect>
                  <text x="30%" y="60%" fill="#dee2e6" dy="0em" font-weight="bold"> Break Down Structures</text>
                </svg>
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to "View", equipment_index_path(source: "BreakDownStructures"), method:'get', class:"btn btn-sm btn-outline-secondary" %>
                      
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" 
                  aria-label="Measurements" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <rect width="100%" height="225%" fill="#868e96"></rect>
                  <text x="40%" y="60%" fill="#dee2e6" dy="0em" font-weight="bold">Measurements</text>
                </svg>
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= button_to "View", measurements_path, method:'get', class:"btn btn-sm btn-outline-secondary" %>
                      
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="todo" 
                  aria-label="Alarms" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <rect width="100%" height="225%" fill="#868e96"></rect>
                  <text x="40%" y="60%" fill="#dee2e6" dy="0em" font-weight="bold">Alarms</text>
                </svg>
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to "View", equipment_index_path(source: "Alarms"), method:'get', class:"btn btn-sm btn-outline-secondary" %>
                      
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" 
                  aria-label="Components" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <rect width="100%" height="225%" fill="#868e96"></rect>
                  <text x="35%" y="60%" fill="#dee2e6" dy="0em" font-weight="bold">Components</text>
                </svg>
                <div class="card-body">
                  <div class="btn-group">
                      <%= button_to "View", active_standby_path, method: 'get', class: "btn btn-sm btn-outline-secondary" %>
                      
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </main>
    <div data-controller="notification">
      <div aria-live="polite" aria-atomic="true" style="min-height: 200px;">
        <div style="top: 0; right: 0;">
          <div data-notification-target="toast" id="notificationToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <strong class="mr-auto"> Notification </strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div data-notification-target="content" class="toast-body">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
