<div>Add ActiveComponents template here</div>
<%# Create equipment model 
Add index
add validation to Model


rails generate model equipment uuid: string, id_in_source: string, functional_location_id: string, segment_uuid: string, site_id: string,
short_name: string, properties: text, installed_at: datetime, uninstalled_at: datetime, category: string, bod_content:string

rails add_index :equipment, :uuid, unique: true


%>